<div class="col-md-12 col-sm-12 mt-5">
  <div class="widget p-md clearfix">
    <form>
      <div class="form-group">
        <h1 >Category</h1>
      </div>
      <div class="form-group text-right">
        <button type="button" class="btn btn-success add-new" (click)="add()">Add New</button>
      </div>
    </form>  
  </div><!-- .widget -->
</div>
<div class="col-md-12 col-sm-12">
  <p-table [value]="categories" [rows]="10" [paginator]="true" [rows]="25" autoLayout="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Description</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cat>
        <tr>
            <td>{{cat.description}}</td>
            <td>{{cat.created_at}}</td>
            <td>{{cat.updated_at}}</td>
            <td>
              <button class = "btn btn-info btn-md" (click)="edit(cat)">Edit</button>
              <button class = "btn btn-danger btn-md" (click)="delete(cat)">Delete</button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
