<div class="col-md-12 col-sm-12 mt-5">
  <div class="widget p-md clearfix">
    <form>
      <div class="form-group text-right d-flex justify-content-between">
        <h1 >Post</h1>
        <button type="button" class="btn btn-success my-auto add-new ml-2" (click)="showForm()">Add New</button>
      </div>
    </form>  
  </div><!-- .widget -->
</div>
<div class="col-md-12 col-sm-12">
  <p-table [value]="posts" [rows]="10" [paginator]="true" [rows]="25" autoLayout="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-post>
        <tr>
            <td>{{ post.title | titlecase }}</td>
            <td>{{ post.created_at}}</td>
            <td>{{ post.updated_at}}</td>
            <td>
              <button class = "btn btn-info btn-md" (click)="showForm(post)">Edit</button>
              <button class = "btn btn-danger btn-md ml-2" (click)="delete(post)">Delete</button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
