<div class="col-md-12 col-sm-12 mt-5">
  Page Form <br>
  <div class="widget p-md clearfix">
    <form [formGroup]="form" (submit) = "saveForm()">
      <div class="form-group">
        <label for="category">Category</label>
        <select formControlName="category_id" class = "form-control w-100" id="category">
          <option value = "">--Select Category--</option>
          <option *ngFor="let item of categories" [value]="item.id">{{ item.description }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tite">Title</label>
        <input type="text" formControlName="title" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <editor
          apiKey="1oe3czvs8f3sr5c7004mt52rkn5688epap8l74x37bp8vwey"
          [init] = "{
            height : '480',
            selector: 'textarea'
          }"
          formControlName="description"
        ></editor>
      </div>
      <div class="form-group">
        <label for="add_media">Add Media</label>
        <input [(ngModel)]="file" [ngModelOptions]="{standalone: true}" (change)="handleFileInput($event.target.files)" type="file" accept="video/*,image/*" class="form-control" id="add_media"/>
      </div>

      <div class="form-group">
        <label for="select_media">Select Media</label><br/>
        <button type = "button" (click)="selectMedia()" class="btn btn-info btn-md" id="select_media">Choose</button>
      </div>

      <div class="form-group">
        <div class = "w-100 d-flex text-right mb-2" *ngFor="let item of medias; let i = index">
          {{ item.name }}
          <button id="selected_media_{{item.id}}_view" class = "btn btn-md btn-primary" (click)="view(item)">View</button>  
          <button id="selected_media_{{item.id}}_edit" class = "btn btn-md btn-danger ml-2" (click)="deleteItem(item, i)">Delete</button>  
        </div>
      </div>
      
      <div class="form-group text-right">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ saveButton }}</button>
        <button type="button" class="btn btn-success add-new ml-2" (click)="onNoClick()">Close</button>
      </div>
    </form>  
  </div><!-- .widget -->
</div>