<div class="col-md-12 col-sm-12 mt-2">
  <div class="widget p-md clearfix">
    <form>
      <div class="form-group text-right d-flex justify-content-between">
        <h1 >Media</h1>
        <button type="button" class="btn btn-success my-auto add-new ml-2" (click)="showForm()">Add New</button>
      </div>
    </form>  
  </div><!-- .widget -->
</div>
<div class="col-md-12 col-sm-12">
  <p-table [value]="medias" [rows]="10" [paginator]="true" [rows]="25" autoLayout="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-media>
        <tr>
            <td>{{ media.name | titlecase }}</td>
            <td>{{ media.type | titlecase }}</td>
            <td>{{ media.created_at}}</td>
            <td>{{ media.updated_at}}</td>
            <td>
              <button class = "btn btn-primary btn-md" (click)="showImage(media)">View</button>
              <button class = "btn btn-info btn-md mx-2" (click)="edit(media)">Edit</button>
              <button class = "btn btn-danger btn-md" (click)="delete(media)">Delete</button>
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>
