
<div *ngIf="showMenu else show"></div>
<div *ngIf="!showMenu else public"></div>
<ng-template #show>
  <aside id="menubar" class="menubar light">
    <div class="menubar-scroll">
      <div class="menubar-scroll-inner">
        <ul class="app-menu">
          <li class="has-submenu">
            <a href="javascript:void(0)" class="submenu-toggle">
              <i class="menu-icon zmdi zmdi-pages zmdi-hc-lg"></i>
              <span class="menu-text">Pages Management</span>
              <i class="menu-caret zmdi zmdi-hc-sm zmdi-chevron-right"></i>
            </a>
            <ul class="submenu">
              <li><a [routerLink]="['/post']" [queryParams]="{add: false}"><span class="menu-text">View All</span></a></li>
              <li><a [routerLink]="['/post']" [queryParams]="{add: true}"><span class="menu-text">Add New</span></a></li>
              <li><a [routerLink]="['/media']"><span class="menu-text">Media</span></a></li>
              <li><a [routerLink]="['/category']"><span class="menu-text">Categories</span></a></li>
            </ul>
          </li>
        </ul><!-- .app-menu -->
      </div><!-- .menubar-scroll-inner -->
    </div><!-- .menubar-scroll -->
  </aside>
</ng-template>
<ng-template #public>
  <aside id="menubar" class="menubar light">
    <div class="menubar-scroll">
      <div class="menubar-scroll-inner">
        <ul class="app-menu">
          <li *ngFor="let item of posts">
            <a [routerLink]="['']" [queryParams]="{id: item.id}" >
              <span class="menu-text"><h1>{{ item.title }}</h1></span>
            </a>
          </li>
        </ul><!-- .app-menu -->
      </div><!-- .menubar-scroll-inner -->
    </div><!-- .menubar-scroll -->
  </aside>
</ng-template>
<div *ngIf="name !== null" class = "col-lg-12">
  <h2 class = "mt-2">Hi {{ name | titlecase }}</h2>
</div>
